.choresText {
   color: rgb(91, 93, 215);
   font-size: 20px;
   font-style: italic;

}

.choresHeading {
   color: rgb(207, 108, 238);
   font-size: 18px;
   font-style: italic;
   text-decoration: underline;

}